// Light theme variables.
$light: #FEC9F1;
$dark: #948D9B;
$light-theme-primary-color: #E899DC;
$light-theme-secondary-color: #D387AB;
$light-theme-ternary-color: #B279A7;

// Dark theme variables.
$primary-color: #3C1642;
$secondary-color: #086375;
$ternary-color: #2A6041;

