@import '../../styles/variables.module.scss';

.headerContainer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerItems {
        display: flex;
        gap: 1rem;
        cursor: pointer;
    }

    .displayNone {
        display: none;
    }
    
    .icon {
        display: block;
    
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}


.mobileHeaderItems {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-end;

    a, svg {
        margin-right: 1rem;
        cursor: pointer;
        font-size: 3rem;
    }

    .closeIcon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1rem 1rem;
    }

}

.dark {
    background: $secondary-color;
}

.light {
    background: $light-theme-secondary-color;
}
