.headerContainer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headerItems {
        display: flex;
    }

    .displayNone {
        display: none;
    }
    
    .icon {
        display: block;
    
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}


.mobileHeaderItems {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #FEC9F1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
        margin-right: 1rem;
    }

    .closeIcon {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 1rem 1rem;
    }

}

// #FEC9F1
// #E899DC
// #D387AB
// #B279A7
// #948D9B